incremental_db/
output_files/output_files/
db/
*.bak
*.qws
*.sof
*.pof
*.rpt
*.summary
.qsys_edit/
*.smsg
*.done
.metadata/
*.o
*.d
*.a
*.elf
*.objdump
*.map
obj/
exercises/1.3/software/project1_bsp/alt_sys_init.c
exercises/1.3/software/project1_bsp/linker.h
exercises/1.3/software/project1_bsp/linker.x
exercises/1.3/software/project1_bsp/system.h
exercises/1.3/software/project1_bsp/memory.gdb
exercises/1.3/software/project1_bsp/public.mk
exercises/1.3/software/project1_bsp/summary.html
exercises/1.3/software/project1_bsp/settings.bsp
*.html
